<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/popupNotification.css">
    <link rel="stylesheet" href="../public/leaderboard.css">

    <link rel="icon" href="https://www.clipartmax.com/png/middle/36-363115_green-dollar-symbol-png-transparent-image-green-dollar-sign-png.png" type="image/icon type">
    
    <title> Leaderboard </title>

</head>
<body>
    <button class="return-home-button" id="return-home-button"> Home </button>
    <div class="Main-Div" id="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Leaderboard </h1>

        <div class="List-Div">

            <ol class="Main-Ordered-List" id="main-ordered-list"> 

                <!-- <li class="leaderboard-li">

                    <div class="list-text-div">
                        Forsaken
                    </div>

                    <div class="leaderboard-button-div">
                        <button class="view-expenses-button"> View Expenses </button>
                    </div>

                </li>

                <li class="leaderboard-li">
                    <div class="list-text-div">
                        Forsaken
                    </div>
                    <div class="leaderboard-button-div">
                        <button class="view-expenses-button"> View Expenses </button>
                    </div>
                </li> -->

            </ol>

        </div>

        <div class="popup-container" id="popup-container">
            <div class="popup" id="popup-inner-div">
                <button id="close">&times;</button>
            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="../scripts/leaderboard.js"></script>

</html>